In [2]:
import pandas as pd

In [3]:
# to read and print the data
df=pd.read_csv('StatewiseTestingDetails.csv')
print(df)

            Date                        State  TotalSamples Negative  Positive
0     2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1     2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2     2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3     2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4     2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0
...          ...                          ...           ...      ...       ...
5961  2020-10-02                  West Bengal     3314598.0      NaN       NaN
5962  2020-10-03                  West Bengal     3355726.0      NaN       NaN
5963  2020-10-04                  West Bengal     3397988.0      NaN       NaN
5964  2020-10-05                  West Bengal     3438128.0      NaN       NaN
5965  2020-10-06                  West Bengal     3480510.0      NaN       NaN

[5966 rows x 5 columns]

In [4]:
# to print header
#df.columns

#read each column
#print(df['Date'][0:10])


#for index, rows in df.iterrows():
#    print(index,rows['State'])

df.loc[df['State']=="Gujarat"]

            Date    State  TotalSamples Negative  Positive
1697  2020-04-08  Gujarat        4224.0     3905     186.0
1698  2020-04-10  Gujarat        7718.0     7237     378.0
1699  2020-04-11  Gujarat        9763.0     8888     468.0
1700  2020-04-12  Gujarat       11715.0    10867     516.0
1701  2020-04-13  Gujarat       14251.0    12970     572.0
...          ...      ...           ...      ...       ...
1873  2020-10-02  Gujarat     4531498.0      NaN       NaN
1874  2020-10-03  Gujarat     4588563.0      NaN       NaN
1875  2020-10-04  Gujarat     4645263.0      NaN       NaN
1876  2020-10-05  Gujarat     4702776.0      NaN       NaN
1877  2020-10-06  Gujarat     4754655.0      NaN       NaN

[181 rows x 5 columns]

In [9]:
df.loc[df['Date'].str.contains('2020-09-30')]
#df.loc[df['State'].str.contains('Mah')]

,Date,State,TotalSamples,Negative,Positive
139,2020-09-30,Andaman and Nicobar Islands,58763.0,NaN,3835.0
318,2020-09-30,Andhra Pradesh,5806558.0,5113074,NaN
488,2020-09-30,Arunachal Pradesh,248439.0,230620,NaN
649,2020-09-30,Assam,3523430.0,NaN,NaN
830,2020-09-30,Bihar,7266150.0,NaN,NaN
1010,2020-09-30,Chandigarh,77489.0,65093,NaN
1184,2020-09-30,Chhattisgarh,1106612.0,NaN,NaN
1515,2020-09-30,Delhi,3079965.0,NaN,NaN
1690,2020-09-30,Goa,254801.0,NaN,NaN
1871,2020-09-30,Gujarat,4418028.0,NaN,NaN
2055,2020-09-30,Haryana,1920181.0,1784906,NaN
2235,2020-09-30,Himachal Pradesh,295907.0,280632,NaN
2416,2020-09-30,Jammu and Kashmir,1622775.0,1547705,NaN
2593,2020-09-30,Jharkhand,2250439.0,2166788,83651.0
2776,2020-09-30,Karnataka,4901083.0,NaN,NaN
2965,2020-09-30,Kerala,2925776.0,NaN,196108.0
3270,2020-09-30,Madhya Pradesh,2035134.0,1902808,NaN
3453,2020-09-30,Maharashtra,6785205.0,NaN,1384446.0
3581,2020-09-30,Manipur,241648.0,NaN,NaN
3726,2020-09-30,Meghalaya,150809.0,145170,NaN
3897,2020-09-30,Mizoram,78491.0,NaN,NaN
4075,2020-09-30,Nagaland,79713.0,NaN,NaN
4259,2020-09-30,Odisha,3250999.0,NaN,NaN
4430,2020-09-30,Puducherry,189568.0,158206,29651.0
4613,2020-09-30,Punjab,1841955.0,NaN,NaN
4797,2020-09-30,Rajasthan,3118797.0,2980551,NaN
4947,2020-09-30,Sikkim,50232.0,NaN,NaN
5130,2020-09-30,Tamil Nadu,7354050.0,NaN,NaN
5245,2020-09-30,Telangana,2996001.0,NaN,NaN
5409,2020-09-30,Tripura,388672.0,362941,25731.0
5591,2020-09-30,Uttar Pradesh,10098896.0,NaN,NaN
5774,2020-09-30,Uttarakhand,712124.0,637547,65.0
5959,2020-09-30,West Bengal,3227462.0,NaN,NaN